.voice-rtc-config{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
  .voice-rtc-config-list{
    width: calc(100% - 20px);
    flex: 0 0 auto;
  }
  

  .header-container{
    display: flex;
    justify-content: space-between;
  }
}
